_target_: day_ahead_v2.model.LightGBMClassifier
model_name: "lightgbm"

model_parameters:
  objective: multiclass
  num_class: 3
  n_estimators: 300
  min_child_samples: 5
  random_state: ${seed}
  bagging_seed: ${seed}
  feature_fraction_seed: ${seed}
  data_random_seed: ${seed}
  n_jobs: 4

model_hyperparameters:
  learning_rate: [0.05, 0.1]
  num_leaves: [15, 31]
  max_depth: [3, 5]
