_target_: day_ahead_v2.model.XGBoostClassifier
model_name: "xgboost"

model_parameters:
  objective: multi:softprob
  subsample: 1.0
  colsample_bytree: 1.0
  random_state: ${seed}

model_hyperparameters:
  learning_rate: [0.05, 0.1]
  max_depth: [3, 6]
  n_estimators: [100, 200, 300]
