name: Data Validation

on:
  push:
    paths:
      - "data/**"
  pull_request:
    paths:
      - "data/**"

jobs:
  validate-data:
    name: Validate dataset
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          cache: 'pip'

      - name: Install uv
        run: pip install uv

      - name: Sync environment
        run: uv sync --all-extras --dev

      - name: Run data validation
        run: pytest tests/data/
